/* Estilos generales para la conversación */
.conversacion-container {
    background-color: #f4f7fb;
    border-radius: 8px;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Estilos para la lista de mensajes */
  .mensajes-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    max-height: 400px;
    overflow-y: auto;
  }
  
  .mensaje-item {
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .mensaje-item p {
    margin: 0;
    font-size: 1rem;
    color: #333;
  }
  
  .mensaje-item strong {
    font-weight: 600;
  }
  
  .mensaje-item:nth-child(odd) {
    background-color: #e9f3fd;
  }
  
  .mensaje-item .emisor {
    color: #4a90e2; /* Color para el emisor */
  }
  
  .mensaje-item .receptor {
    color: #9b59b6; /* Color para el receptor */
  }
  
  /* Estilos para el formulario de enviar mensaje */
  .mensaje-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .mensaje-input {
    width: 80%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .mensaje-input:focus {
    border-color: #4a90e2;
  }
  
  .mensaje-enviar-btn {
    padding: 12px 20px;
    border-radius: 8px;
    background-color: #4a90e2;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .mensaje-enviar-btn:hover {
    background-color: #357ab7;
  }
  
  /* Estilos para el estado de carga y error */
  .loading, .error, .no-conversacion {
    text-align: center;
    color: #333;
    font-size: 1.2rem;
    margin-top: 30px;
  }
  
  .loading p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4a90e2;
  }
  
  .error p {
    font-size: 1.5rem;
    color: #e74c3c;
  }
  
  .no-conversacion p {
    font-size: 1.2rem;
    color: #7f8c8d;
  }
  
  /* Adaptación para dispositivos pequeños */
  @media (max-width: 768px) {
    .conversacion-container {
      margin: 20px;
      padding: 15px;
    }
  
    h1 {
      font-size: 1.2rem;
    }
  
    .mensaje-input {
      width: 70%;
    }
  
    .mensaje-enviar-btn {
      padding: 10px 15px;
    }
  }
  

  .regresar-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .regresar-btn:hover {
    background-color: #0056b3;
  }
  